//
// Variables
// --------------------------------------------------

// font-family

// 日本語
$fontHiragino : "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
$fontMincho : "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
// 英数
$fontArial: Arial, Helvetica, sans-serif;

// path
$bgimg : '../img/';

// color
$fontColor: #000;
$keyColor: #002E5B;
$pointColor : #fde428;
$subColor : #f2f2f2;
$linkColor: #000;

// font-size
$fontSize: 14px;

// line-hight
$lineHeight : 1.8;

$siteWidth : 960px;